<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Buscar Pelis </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar
    placeholder="Buscar Peli..."
    animated="true"
    inputmode="decimal"
    type="decimal"
    (ionChange)="buscar($event)"
    [debounce]="700"
    sshow-cancel-button="always"
    [value]="textoBuscar"
  ></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="lines-sharp" color="warning"> </ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <ion-label>Ideas</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>

    <ion-item *ngFor="let result of ideas" (click)="textoBuscar = result">
      <ion-label color="primary">{{result}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
