<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <h3>Peliculas Nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-slides [options]="options">
  <ion-slide *ngFor="let i of pelisNews">
  
   <ion-card>
    <ion-img [src]="i. backdrop_path | imagen"></ion-img>
   </ion-card>

  </ion-slide>
 </ion-slides> -->
  <app-slides [pelis]="pelisNews"></app-slides>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-poster [posters]="pelisNews"></app-poster>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Pelis Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slides-two [postersTwo]="pelisPopulares" (cargarMas)="cargarMas()"></app-slides-two>

</ion-content>
