<ion-content>
  <ion-grid fixed >
    <ion-row>
      <ion-col >
        <ion-item class="ion-text-center borde" >
          <ion-img
            src="/assets/icon/1.png"
            class="ion-text-center imgLogo"
          ></ion-img>

          <ion-label >
            <h3 class="tituloLabel">
              Mis Pelis <br />
              Favoritas
            </h3></ion-label
          >
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-poster [posters]="peliculas"></app-poster>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let pelicula of peliculas">
        <ion-card (click)="detailPeliClick( pelicula.id )">
        <img [src]="pelicula.poster_path | imagen" />
        <ion-card-header>
          <ion-card-subtitle> {{ pelicula.release_date }} </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <h2>{{ pelicula.title }}</h2>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-label >
  <h4 class="tituloLabelh4 ion-text-center">
    Pelis seleccionadas por género
  </h4></ion-label>
  <div *ngFor="let pelicula of pelisFavGenre">
    <ion-grid fixed *ngIf="pelicula.pelis.length > 0">
      <ion-row>
        <ion-col size="6">
          <h4>{{pelicula.genero}}</h4>
        </ion-col>
       
      </ion-row>
      <app-poster [posters]="pelicula.pelis"></app-poster>
    </ion-grid>
  </div>


</ion-content>
