<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item class="ion-text-center">
          <ion-img
            src="/assets/icon/1.png"
            class="ion-text-center imgLogo"
          ></ion-img>

          <ion-label>
            <h3>
              Mis Pelis <br />
              Favoritas
            </h3></ion-label
          >
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-poster [posters]="pelis"></app-poster>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let pelicula of pelis">
        <ion-card (click)="detailPeliClick( pelicula.id )">
        <img [src]="pelicula.poster_path | imagen" />
        <ion-card-header>
          <ion-card-subtitle> {{ pelicula.release_date }} </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <h2>{{ pelicula.title }}</h2>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
