<ion-slides [options]="options">
  <!-- pares viene del pipes (pares.pipe.ts) -->
  <ion-slide *ngFor="let pares of postersTwo | pares">
    <ion-row>
      <ion-col size="12" *ngFor="let i of pares">
        <ion-card  (click)="detailPeli(i.id)">
          <ion-img class="poster"
                   [src]="i.poster_path | imagen"></ion-img>
        </ion-card>
      </ion-col>

   <!--    <ion-col size="12">
        <ion-card>
          <ion-img class="poster" [src]="i.poster_path | imagen"></ion-img>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-slide>

  <ion-slide class="btnSlide">
  <ion-button (click)="onClick()" expand="full" size="large" class="btnMas">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
  </ion-slide>

</ion-slides>
